body {
    margin: 20px;
    background-color: black;
    
    font-style: oblique;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.avatar {
    width: 150px;
}

.card {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background-color: darkcyan;
    color: dark;
    border-style: double ;
    border-color: white;
    
    
        
  


.italic{
    
    font-style: inherit;
    font-weight: bold;
    color:black ;
}



